SRV_ADDR=":8080"
DB_CONN="postgresql://postgres:postgres@127.0.0.1:5432/chatter"
JWT_SECRET="verysecretmessagestring"
ENCRYPTION_KEY="{64_bit_hex_string}"
WEB_ADDR="http://localhost:8081"

GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgresql://postgres:postgres@127.0.0.1:5432/chatter"
GOOSE_MIGRATION_DIR="./sql/migrations"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="chatter"